.jumbotron {
    margin-top: 5px;
}

.socail {
    position: fixed;
    
}

.parallax-container {
      height: 250px;
}

.logo {
    height: 50px;
    width: 50px;
    margin-left: inherit;
    margin-top: 5px;
}

.social-media-nav {
    position: fixed;
    top: 200px;
    left: 15px;
}

.icon {
    color: #b71c1c;
}

.icon:hover {
    color:black;
}

.footericon {
    color: white;
}

.footericon:hover {
    color:black;
}



